@model AboutSongs.ViewModels.HomeVM

@{
    ViewData["Title"] = "Inicio";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título -->
    <title>AboutSongs</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">

    <!-- Links CSS/Font -->
    <link rel="stylesheet" href="~/css/Styles/PageHome.css">
    <link rel="stylesheet" href="~/css/Responsivo/ResHome.css">
    <link rel="stylesheet" href="~/css/Global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <!-- Fundo -->
    <div class="stars"></div>
    <div class="stars2"></div>

    <!-- Cabeçalho -->
    <header class="cabecalho">
        <!-- Conteúdo principal do cabeçalho -->
        <a href="#"><img class="h-logo" src="~/img/logo-home.png" alt="Logo do site"></a>
        <nav class="nav-bar">
            <ul>
                <li><a href="./AbaMusicAlbum.html">Descubra</a></li>
                <li><a href="./AbaFavorites.html">Favoritos</a></li>
                <li><a href="./AbaSobreCon.html">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <!-- Página -->
    <main class="page">
        <!-- Section da imagem principal -->
        <section class="inicio" id="home">
            <img class="banner" src="~/img/aboutsong_.png" alt="">
        </section>

        <div class="hidden line-1">
            <hr class="hr-1">
        </div>

        <!-- Section de apresentação -->
        <section class="hidden sobre" id="about">
            <a href="./AbaSobreCon.html" class="hidden b-content">
                <i class="icon-a fa-solid fa-star-half-stroke"></i>
                <hr>
                <div class="b-text">
                    <h1>Lorem ipsum <span style="color: #cc01ff; font-weight: 600;">dolor</span></h1>
                    <p>sit amet consectetur adipisicing elit. Pariatur dolorem sint eligendi </p>
                </div>
            </a>
            <a href="./AbaSobreCon.html#second" class="hidden b-content">
                <i class="icon-b fa-solid fa-magnifying-glass"></i>
                <hr>
                <div class="b-text">
                    <h1>Lorem ipsum <span style="color: #cc01ff; font-weight: 600;">dolor</span></h1>
                    <p>sit amet consectetur adipisicing elit. Pariatur dolorem sint eligendi </p>
                </div>
            </a>
            <a href="./AbaSobreCon.html#third" class="hidden b-content">
                <i class="icon-c fa-solid fa-circle-info"></i>
                <hr>
                <div class="b-text">
                    <h1>Lorem ipsum <span style="color: #cc01ff; font-weight: 600;">dolor</span></h1>
                    <p>sit amet consectetur adipisicing elit. Pariatur dolorem sint eligendi </p>
                </div>
            </a>
        </section>

        <div class="hidden line-2">
            <hr class="hr-2">
        </div>

        <!-- Sections de músicas -->
        <section class="hidden musicas">
            <div class="superior">
                <h1 class="title-s">Músicas</h1>
                <a class="all-s" href="./AbaMusicAlbum.html">Ver tudo.</a>
            </div>
            <div class="cards">
                @foreach (var albuns in Model.Albuns)
                {
                    <a asp-action="PageAlbum.cshtml">
                        <div class="c-card">
                            <img src="@albuns.Foto" alt="">
                            <div class="text">
                                <h1 class="c-title">@albuns.Titulo</h1>
                                <h2 class="c-artist">@string.Join(", ", albuns.Artistas.Select(a => a.Artista.Nome).Distinct().ToList())</h2>
                                <p class="c-designation">@albuns</p>
                            </div>
                            <div class="plataformas">
                                <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                                <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                                <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                            </div>
                        </div>
                    </a>
                }

            </div>
        </section>

        <section class="hidden albuns">
            <div class="superior">
                <h1 class="title-a">Álbuns</h1>
                <a class="all-a" href="./AbaMusicAlbum.html">Ver tudo.</a>
            </div>
            <div class="cards">
                @foreach (var albuns in Model.Albuns.Take(6))
                {
                    <a asp-action="PageAlbum.cshtml">
                        <div class="c-card">
                            <img src="@albuns.Foto" alt="">
                            <div class="text">
                                <h1 class="c-title">@albuns.Titulo</h1>
                                <h2 class="c-artist">@string.Join(", ", albuns.Artistas.Select(a => a.Artista.Nome).Distinct().ToList())</h2>
                                <p class="c-designation">@albuns</p>
                            </div>
                            <div class="plataformas">
                                <a class="p" href="#" target="_blank"><i class="i-spotify fa-brands fa-spotify"></i></a>
                                <a class="p" href="#" target="_blank"><i class="i-youtube fa-brands fa-youtube"></i></a>
                                <a class="p" href="#" target="_blank"><i class="i-apple fa-brands fa-apple"></i></a>
                            </div>
                        </div>
                    </a>
                }

            </div>
        </section>
    </main>

    <!-- Perfil -->
    <a href="./PagePerfil.html" class="perfil">
        <img class="img-perfil" src="~/img/modelo.png" alt="Imagem de Perfl">
    </a>

    <!-- Botão de voltar ao topo -->
    <button id="topButton" onclick="scrollToTop()"><i class="fa-solid fa-angle-up"></i></button>

    <!-- Link JS -->
    <script src="~/js/scripts.js"></script>
    <script src="~/js/top-btn.js"></script>
</body>

</html>