@model AboutSongs.ViewModels.HomeVM

@{
    ViewData["Title"] = "Inicio";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título -->
    <title>AboutSongs</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">

    <!-- Links CSS/Font -->
    <link rel="stylesheet" href="~/css/Styles/PageHome.css">
    <link rel="stylesheet" href="~/css/Responsivo/ResHome.css">
    <link rel="stylesheet" href="~/css/Global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <!-- Fundo -->
    <div class="stars"></div>
    <div class="stars2"></div>

    <!-- Cabeçalho -->
    <header class="cabecalho">
        <!-- Conteúdo principal do cabeçalho -->
        <a href="#"><img class="h-logo" src="~/img/logo-home.png" alt="Logo do site"></a>
        <nav class="nav-bar">
            <ul>
                <li><a asp-action="AbaMusic" asp-controller="Home">Músicas</a></li>
                <li><a asp-action="AbaAlbum" asp-controller="Home">Álbuns</a></li>
                <li><a asp-action="AbaSobreCon" asp-controller="Home">Sobre</a></li>
            </ul>
        </nav>

        <partial name="_LoginPartial"></partial>
    </header>

    <!-- Página -->
    <main class="page">
        <!-- Section da imagem principal -->
        <section class="inicio" id="home">
            <img class="banner" src="~/img/aboutsong_.png" alt="">
        </section>

        <div class="hidden line-1">
            <hr class="hr-1">
        </div>

        <!-- Section de apresentação -->
        <section class="hidden sobre" id="about">
            <a asp-action="AbaSobreCon" asp-controller="Home" class="hidden b-content">
                <i class="icon-a fa-solid fa-star-half-stroke"></i>
                <hr>
                <div class="b-text">
                    <h1><span style="color: #cc01ff; font-weight: 600;">Avalie</span> Sons</h1>
                    <p>Avalie às músicas e veja como elas se destacam. </p>
                </div>
            </a>
            <a asp-action="AbaSobreCon" asp-fragment="second" asp-controller="Home" class="hidden b-content">
                <i class="icon-b fa-solid fa-magnifying-glass"></i>
                <hr>
                <div class="b-text">
                    <h1>Comente Sobre Músicas <span style="color: #cc01ff; font-weight: 600;">dolor</span></h1>
                    <p>sit amet consectetur adipisicing elit. Pariatur dolorem sint eligendi </p>
                </div>
            </a>
            <a asp-action="AbaSobreCon" asp-fragment="third" asp-controller="Home" class="hidden b-content">
                <i class="icon-c fa-solid fa-circle-info"></i>
                <hr>
                <div class="b-text">
                    <h1>Lorem ipsum <span style="color: #cc01ff; font-weight: 600;">dolor</span></h1>
                    <p>sit amet consectetur adipisicing elit. Pariatur dolorem sint eligendi </p>
                </div>
            </a>
        </section>

        <div class="hidden line-2">
            <hr class="hr-2">
        </div>

        <!-- Sections de músicas -->
        <section class="hidden musicas">
            <div class="superior">
                <h1 class="title-s">Algumas músicas</h1>
            </div>
            <div class="carousel-container">
                <button id="prevBtn" class="arrow" disabled><i class="fa-solid fa-angle-left"></i></button>
                <div class="carousel">
                    <div class="carousel-track">
                        @foreach (var musica in Model.MusicaHomes)
                        {
                            <a asp-action="PageMusic" asp-controller="Home" asp-route-id="@musica.Id">
                                <div class="c-card">
                                    <img src="@musica.FotoAlbum" alt="">
                                    <div class="text">
                                        <h1 class="c-title">@musica.Nome</h1>
                                        <h2 class="c-artist">@musica.Artistas</h2>
                                        <p class="c-designation">@musica.Generos</p>
                                    </div>
                                    <div class="plataformas">
                                        <a class="p" href="@musica.Spotify" target="_blank"><i
                                                class="i-spotify fa-brands fa-spotify"></i></a>
                                        <a class="p" href="@musica.Youtube" target="_blank"><i
                                                class="i-youtube fa-brands fa-youtube"></i></a>
                                        <a class="p" href="@musica.AppleMusic" target="_blank"><i
                                                class="i-apple fa-brands fa-apple"></i></a>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
                <button id="nextBtn" class="arrow"><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </section>

        <section class="hidden albuns">
            <div class="superior">
                <h1 class="title-a">Diga o que acha...</h1>
                <a class="all-a" asp-action="AbaAlbum" asp-controller="Home">Ver tudo.</a>
            </div>
            <div class="cards">
                @foreach (var album in Model.AlbumHomes)
                {
                    <a asp-action="PageAlbum" asp-controller="Home" asp-route-id="@album.Id">
                        <div class="c-card">
                            <img src="@album.FotoCapa" alt="">
                            <div class="text">
                                <h1 class="c-title">@album.Nome</h1>
                                <h2 class="c-artist">@album.Artistas</h2>
                                <p class="c-designation">@album.Generos</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </section>
    </main>

    <!-- Botão de voltar ao topo -->
    <button id="topButton" onclick="scrollToTop()"><i class="fa-solid fa-angle-up"></i></button>

    <!-- Link JS -->
    <script src="~/js/scripts.js"></script>
    <script src="~/js/top-btn.js"></script>
</body>

</html>