@model AboutSongs.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home";
}

<div class="pt-4 container">
    <div class="d-flex flex-column text-center text-white">
        <div class="col mx-auto text-center">
            <h1 class="display-4">AboutSongs</h1>
            <hr>
            <h5>Escolha o album</h5>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-2 mt-2">
                @foreach (var album in Model.Albuns)
                {
                    <div class="col">
                        <div class="bg-light rounded-2">
                            <img src="@album.Foto" class="w-100 rounded-top-2" alt="@album.Título">
                            <h3 class="display-4 fs-6 text-dark py-2">@album.Título</h3>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 mt-4">

        @foreach (var musica in Model.Musicas)
        {
            <!-- Card Musica - Inicio -->
            <div class="col">
                <a asp-action="musica" asp-route-id="@musica.Id" class="text-decoration-none">
                    <div class="card bg-dark border-white">
                        <div class="card-body">
                            <h5 class="card-title text-white mb-3">@musica.Título</h5>
                            <div class="d-flex justify-content-between">
                                 <span class="text-white">@musica.Duracao</span>
                                <span class="text-white">@musica.Generos.Count() Generos</span> 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card Musica - Fim -->
        }

        <div id="zeroData" class="col-lg-12 text-center" hidden>
            <h1 class="my-3 text-danger">Nenhuma musica Encontrado</h1>
        </div>
    </div>

</div>
